.messages {
  position: absolute;
  top: 20%;
  left: 18%;
}

label{
  display: inline-block;
  /*float: left;*/
  /*clear: left;*/
  width: 75px;
  text-align: left;
}

.to {
  width: 55px;
}

.allButtons {
  position: absolute;
  top: 14%;
}

.inboxButton, .outboxButton, .trashButton, .composeButton, .signoutButton{
  position: relative;
  text-align: center;
  padding-top: 8px;
  top: 5%;
  width: 100px;
  height: 27px;
  cursor: pointer;
}

.composeButton {
  border: 1px solid black;
}

.signoutButton {
  position: fixed;
  left: 85%;
  top: 2%;
  border: 1px solid black;
}

.username {
  position: fixed;
  left: 81%;
  top: 2%;
}

a {
  text-decoration: none;
}

.emailBody {
  position: fixed;
  border: 1px solid black;
  width: 400px;
  height: 450px;
  left: 32%;
  padding-left: 20px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.subject {
  width: 100%;
}

.body {
  width: 100%;
  height: 55%;
}

table {
  position: relative;
  width: 110%;
}

tr {
  outline: thin solid black;
}

.inlineBody {
  opacity: .5;
  overflow: ellipsis;
  white-space: nowrap;
  -webkit-column-width: 200px;
  width: 200px;
}

.inlineDate {
  text-align: right;
}