.messages {
  position: absolute;
  top: 20%;
  left: 50%;
}

label{
    display: inline-block;
    /*float: left;*/
    /*clear: left;*/
    width: 75px;
    text-align: left;
}

.allButtons {
  position: absolute;
  top: 14%;
}

.inboxButton, .outboxButton, .trashButton, .composeButton, .signoutButton{
  position: relative;
  text-align: center;
  padding-top: 8px;
  top: 5%;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.composeButton {
  border: 1px solid black;
}

.signoutButton {
  position: fixed;
  left: 85%;
  top: 2%;
  border: 1px solid black;

}

a {
  text-decoration: none;
}